.st-key-chart_svg {
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: min-content;
  }

  .stMarkdown {
    display: flex;
    justify-content: center;
    align-items: center;

    [data-testid="stMarkdownContainer"] {
      position: relative;
    }
  }
}
